

img { 
    height: auto;
    width: 300px;
}

.hcontainer { 

    display: flex;
    background-color:bisque;
    padding: 16px;
}

.hcontainer div { 
    flex: 1;
    justify-content: right;
    padding: 5px;
    border: 5px solid slateblue;
    height: 48px;
   
    
}

 /*.headerlinks {
    display: flex;
    justify-content: right;
    border: 20px;
    
}